[tool.poetry]
name = "py-aiger"
readme="README.md"
version = "3.5.0"
repository = "https://github.com/mvcisback/py-aiger"
description = "A python library for manipulating sequential and-inverter gates."
authors = ["Marcell Vazquez-Chanlatte <marcell.vc@eecs.berkeley.edu>"]
license = "MIT"
packages = [
    { include = "aiger" },
]

[tool.poetry.dependencies]
python = "^3.6"
attrs = "^19.3"
bidict = "^0.18.0"
funcy = "^1.12"
parsimonious = "^0.8.1"
toposort = "^1.5"
pyrsistent = "^0.15.4"

[tool.poetry.dev-dependencies]
hypothesis_cfg = {git = "git://github.com/mvcisback/hypothesis-cfg.git"}
hypothesis = "^4.28"
pytest-cov = "^2.7"
pytest-flake8 = "^1.0"
pytest-sugar = "^0.9.2"
pytest-xdist = "^1.29"
coverage = "^4.5"
codecov = "^2.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
