git+git://github.com/mvcisback/hypothesis-cfg.git@master#egg=hypothesis_cfg
attrs==19.1.0
bidict==0.18.0
blessings==1.7
click==7.0
codecov==2.0.15
funcy==1.12
hypothesis==4.24.0
parsimonious==0.8.1
pytest==4.5.0
pytest-cov==2.6.1
pytest-flake8==1.0.4
pytest-sugar==0.9.2
pytest-xdist==1.28.0
toposort==1.5
